input.txtx_small{
    font-family:tahoma;
    font-size:11px;
    font-weight:normal;
    color:#333;
    border:1px #999 solid;
    width:100px;
    margin:2px;
    padding:2px;
    height:35px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
input.txtx{
    font-family:tahoma;
    font-size:11px;
    font-weight:normal;
    color:#333;
    border:1px #999 solid;
    width:200px;
    margin:2px;
    padding:2px;
    height:30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
textarea.txtx{
    font-family:tahoma;
    font-size:11px;
    font-weight:normal;
    color:#333;
    border:1px #999 solid;
    width:210px;
    margin:2px;
    padding:2px;
    height:90px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
select.txtx{
    font-family:tahoma;
    font-size:11px;
    font-weight:normal;
    color:#333;
    border:1px #999 solid;
    margin:2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    border-radius: 4px;
    /*-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;*/
}
input.txtx_long{
    font-family:tahoma;
    font-size:11px;
    font-weight:normal;
    color:#333;
    border:1px #999 solid;
    width:300px;
    margin:2px;
    padding:10px;
    height:35px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.g_txtx{
    font-family:tahoma;
    font-size:13px;
    font-weight:normal;
    color:#006600;
    border:0px #999 solid;
    height:35px;
    margin-top:-3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor:pointer;
}
.g_txtx:focus{
    outline:none;
}
input.btn_txtx{
    font-family:tahoma;
    font-size:11px;
    font-weight:normal;
    color:#FFF;
    text-shadow: 1px 1px 0 #000;
    border:1px #000 solid;
    margin:0px;
    height:35px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background:#3e87e9;
    cursor:pointer;
    /*-moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;*/
}


.customdrop{
    font-size: 10px;
}
td{
    font-size: 12px;
}
td.formleft{
    text-align:right;
    color:#333;
    font-weight:bold;
    font-size:11px;
    padding:5px;
    vertical-align: top;
}
td.formright{
    text-align:left;
    color:#666;
    font-weight:normal;
    padding:5px;
    vertical-align: top;
}
.quicklink1{
    font-size: 13px;
    text-decoration: none;
}